<?xml version="1.0" encoding="UTF-8" ?>
<!-- 导入校验文件 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd">
<configuration>
	<!-- 加载数据库属性文件 -->
	<properties resource="config/db.properties"/>
	
	<!-- settings是 MyBatis 中极为重要的调整设置，它们会改变 MyBatis 的运行时行为。 -->
	 <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
		 <!-- 自动映射-->
		<!-- <setting name="autoMappingBehavior" value="true"/>-->
		 <!-- 开启SQL驼峰映射 user_name -> userName -->
		 <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
		 <!-- 全局开启延时加载：联级属性只有在使用时才会执行SQL语句，可以提升查询效率 -->
		 <setting name="lazyLoadingEnabled" value="true"/>
		 <setting name="aggressiveLazyLoading" value="false" />
	</settings>
	
	<!-- 别名设置，Mybatis初始化时系统自动设置一些别名，另外可以通过代码注册别名 -->
	<typeAliases>
		<!--<typeAlias type="com.mybatis.entity.Student" alias="student"/>-->
		<!--<typeAlias type="java.util.HashMap" alias="map"/>-->
		<!-- 扫描别名 别名首字母小写-->
		<package name="com.mybatis.entity"/>
	</typeAliases>

	<!--MyBatis 会根据 javaType 和数据库的 jdbcType 来决定采用哪个可peHandler 处理这 转换规则-->
	<!--BlobTypeHandler-->
	<!--<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.StringTypeHandler" javaType="string" jdbcType="VARCHAR"/>
		<package name="com.mybatis.typehandle"/>
	</typeHandlers>-->

	<!-- 配置数据库环境 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!--加载映射文件 -->
	<mappers>
		<mapper resource="mapper/TeacherMapper.xml"/>
		<mapper resource="mapper/StudentMapper.xml"/>
		<mapper resource="mapper/ClassRoomMapper.xml"/>
	</mappers>
</configuration>
